body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
section{
    display: flex;
}
.top-color{
    color:rgb(230, 86, 186);
}
h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
p{
    text-align: justify;
    margin-bottom: 50px;
}
.hading{
    border-left: 5px solid;
    border-image: linear-gradient(#ff7979,rgb(234, 44, 176)) 27;;
}
.top-area{
    width:50%;
    margin:0px 0px 0px 50px
}
.top-area img{
    width: 90%;

}
.top2{
    margin-top: 100px;
}
a{
    background-image: linear-gradient(rgb(234, 44,176),#ff7979);
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.scroll{

    margin: 50px 0px 0px 0px;
}
h2{
    font-size: 45px;
    text-align:center;
    font-weight: 900;
    margin-top: 100px;
}
.juju{
    background-color: #eccc68;
    width: 500px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.juju img{
    width: 135px;
    height:auto;
    padding-left:10px;
    margin-top: 30px;
}
.toky{
    background-color: #ff6b81;
    width: 500px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.toky img{
    width: 147px;
    height:auto;
    padding-left:10px;
    margin-top: 30px;
}
#tokyo-margin{
   margin-top: 0px;
}
.myhe{
    background-color: #70a1ff;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.myhe img{
    width: 125px;
    height:auto;
    padding-left:10px;
    margin-top: 30px;
}
.there{
    margin: 4%;
}
#my-hero{
    margin-top: 10px;
}
.part03{
    text-align: center;
}